/*Imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+San1s+Pro&display=swap');

:root{
    --main-font-color-light: #4baebd;
    --main-font-color-dark: #468e99;
    --second-font-color: #FFFFFF;
    --grey-color:#9fbcc1;
    --dark-color: #363e3f;
    --main-font-family:'Source Sans Pro', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: url('assets/background_1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color: var(--second-font-color);
}
.intro{
    color: var(--second-font-color);
    font-size: 4rem;
    text-align: center;
    margin-right: 60%;
    margin-left: 2.5%;
    min-width: auto;
    font-family: 'Source Sans Pro', sans-serif; 
    margin-top: 2.5%;
}

.intro h2{
    color: var(--main-font-color-light);
    font-size:2.5rem;
    letter-spacing: 0.025em;
    display:inline-block;
}

.description{
    text-align: center;
    color: var(--main-font-color-light);
    font-size: 1.3rem;    
}

.animated-fade-text{
    animation: fade 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}
