@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

:root{
  --color-red: #852d2d;
}
body{ 
  background-color: gray;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text{
  color: #fff;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 10px;
  position: absolute;
  font-family: 'Tangerine', cursive;
  font-weight: bolder;
  -webkit-animation: Glow 2s ease-in-out infinite alternate;
  -moz-animation: Glow 2s ease-in-out infinite alternate;
  animation: Glow 2s infinite alternate SeaseInOutQuad;
}

  @keyframes Glow {
    0% {
      text-shadow: 0 0 10px var(--color-red),
                   0 0 20px var(--color-red),
                   0 0 40px  var(--color-red),
                   0 0 60px  var(--color-red),
                   0 0 100px var(--color-red),
                   0 0 200px var(--color-red);
    }
    100% {
      text-shadow: 0 0 2px var(--color-red),
                   0 0 8px var(--color-red),
                   0 0 10px var(--color-red),
                   0 0 30px var(--color-red),
                   0 0 50px var(--color-red),
                   0 0 80px var(--color-red);
                  
}}


button{
  text-align: center;
  align-items: center;
  background: none;
  width: 5vw;
  color: white;
  border: none;
  text-align: center;
}

#myVideo {
  position: absolute;
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  display: grid;
  grid-template-columns:  auto;
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}