@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

:root{
  --color-red: #770000;
}
body{
  background-color: black;
}


.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text{
  /* text appearance */
  color: white;
  text-transform: uppercase;
  font-size: 10vh;
  text-align: center;
  position: absolute;
  letter-spacing: 0.4vh;
  font-family: 'Tangerine', cursive;
  font-weight: bolder;
  text-shadow: 0 0 6px var(--color-red), 0 0 6px var(--color-red), 0 0 6px var(--color-red), 0 0 6px var(--color-red);
  
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
} 

button{
  text-align: center;
  align-items: center;
  background: none;
  width: 5vw;
  color: white;
  border: none;
  text-align: center;
  margin-left: -15px;
}

#myVideo {
  position: absolute;
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  display: grid;
  grid-template-columns:  auto;
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: fixed;
  min-width: 100%;
  min-height: 100%;

}

